@-moz-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
@-webkit-keyframes rotateY1 {
  0% {
    transform: rotate3d(0,1,0,16deg);
    -webkit-transform: rotate3d(0,1,0,16deg);
    -moz-transform: rotate3d(0,1,0,16deg);
  }
  100% {
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
    transform: rotate3d(0,1,0,180deg);
  }
}
.rotateY1 {
  -webkit-animation: rotateY1 2s infinite;
  animation: rotateY1 2s infinite;
  -moz-animation: rotateY1 2s infinite;
}
@-moz-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
@-webkit-keyframes rotateX1 {
  0% {
    transform: rotate3d(1,0,0,16deg);
    -webkit-transform: rotate3d(1,0,0,16deg);
    -moz-transform: rotate3d(1,0,0,16deg);
  }
  100% {
    transform: rotate3d(1,0,0,180deg);
    -webkit-transform: rotate3d(1,0,0,180deg);
    -moz-transform: rotate3d(1,0,0,180deg);
  }
}
.rotateX1 {
  -webkit-animation: rotateX1 2s infinite;
  animation: rotateX1 2s infinite;
  -moz-animation: rotateX1 2s infinite;
}
@keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
@-webkit-keyframes hoverCircle {
  0% {
    transform: rotate3d(0,0,0,0);
    -webkit-transform: rotate3d(0,0,0,0);
    -moz-transform: rotate3d(0,0,0,0);
    left: -4px;
    top: -3px;
    right: -1px;
    bottom: -3px;
  }
  100% {
    transform: rotate3d(0,0.1,1,180deg);
    -webkit-transform: rotate3d(0,0.1,1,180deg);
    -moz-transform: rotate3d(0,0.1,1,180deg);
    left: -2px;
    top: -5px;
    right: -2px;
    bottom: -5px;
  }
}
.hoverCircle {
  -webkit-animation: hoverCircle 2s infinite;
  animation: hoverCircle 2s infinite;
  -moz-animation: hoverCircle 2s infinite;
}
@keyframes countdowntiming {
  0% {
    bottom: -50px;
    position: relative;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    bottom: 0px;
    position: relative;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}
@-webkit-keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
@keyframes AutoRun {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(-30px,30px);
    -moz-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
  50% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  100% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -webkit-transform: translate(30px,-30px);
    -moz-transform: translate(30px,-30px);
    transform: translate(30px,-30px);
  }
}
.AutoRun {
  -webkit-animation: AutoRun 1500ms ease-in-out infinite;
  -moz-animation: AutoRun 1500ms ease-in-out infinite;
  -ms-animation: AutoRun 1500ms ease-in-out infinite;
  -o-animation: AutoRun 1500ms ease-in-out infinite;
  animation: AutoRun 1500ms ease-in-out infinite;
}
.visible-large {
  display: block;
}
.visible-small {
  display: none;
}
@media screen and (max-width: 1199px) {
  .wrapper .row-container {
    max-width: 970px;
  }
  h1.logo {
    text-align: center;
  }
  .price-box {
    font-size: 1.142em;
  }
  .header-container {
    font-size: 0.8em;
  }
  .header-container .header-block {
    margin: 0 20px 0 0;
  }
  .header-container .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
    padding: 0 20px;
  }
  .header-container .header-search {
    margin: 35px 0;
  }
  #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link {
    height: 36px;
    line-height: 36px;
    font-weight: 400;
  }
  .morelesscate span {
    height: 36px;
    line-height: 36px;
  }
  .main-container {
    font-size: 0.9em;
  }
  .main-container .our-service .box .box-inner .content p {
    font-size: 0.8em;
  }
  .main-container .shop-products .product-wrapper .count-down .timebox .box-inner {
    padding: 10px 4px;
  }
  .main-container .home-tabs .title-container,
  .main-container .home-tabs2 .title-container,
  .main-container .home-tabs3 .title-container {
    max-width: 940px;
    z-index: 9;
    position: relative;
  }
  .main-container .home4-categories-menu #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link {
    height: 36px;
    line-height: 36px;
    font-weight: 400;
  }
  .footer {
    font-size: 0.9em;
  }
  .footer .social-icons li {
    margin: 10px 5px 0 0;
  }
}
@media screen and (max-width: 1023px) {
  .header-container .widget_shopping_cart .widget_shopping_cart_content .mini_cart_content {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .vc_column_container {
    width: 100% !important;
  }
  .wrapper .row-container {
    max-width: 750px;
  }
  .yith_magnifier_mousetrap {
    display: none;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .main-menu-wrapper {
    width: 100%;
  }
  .mobile-menu {
    background: #363f4d;
    border-radius: 10px 10px 0 0;
    float: left;
    height: 60px;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler {
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler span.mbmenu-icon {
    display: block;
    float: right;
    font-size: 23px;
    margin-left: 5px;
    width: 22px;
  }
  .mobile-menu .mobile-menu-container {
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    float: left;
    height: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0 12px;
    position: absolute;
    top: 60px;
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 99999;
  }
  .mobile-menu .mobile-menu-container.open {
    display: block;
    border: 1px solid #ebebeb;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu {
    float: left;
    margin: 5px 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a {
    border-top: 1px solid #ebebeb;
    color: #363f4d;
    display: block;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a:hover {
    color: #f1b306;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a label {
    display: none;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li:first-child a {
    border-top: none;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > .fa {
    color: #808080;
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > .fa:hover {
    color: #f1b306;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a {
    color: #808080;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a:hover {
    color: #f1b306;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li {
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li a {
    border-top: 1px solid #ddd;
    color: #808080;
    display: block;
    float: left;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
  .main-container .product-view .single-product-image {
    margin-bottom: 30px;
  }
  .main-container .our-service .box:not(:last-child) {
    border: 0;
    margin: 0 0 20px;
  }
  .main-container .home-static {
    text-align: center;
  }
  .main-container .home-static .box-inner {
    display: inline-block;
  }
  .main-container .category-products .link-cate {
    right: 15px;
  }
  .main-container .home-slider.layout2 > .vc_column-inner > .wpb_wrapper {
    margin: 0;
  }
  .main-container .home-tabs .title-container,
  .main-container .home-tabs2 .title-container,
  .main-container .home-tabs3 .title-container {
    max-width: 720px;
  }
  .main-container .group-modul .box:not(:last-child) {
    margin-bottom: 30px;
  }
  .main-container .home-static1 .box {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  .main-container .home-static .box-inner {
    margin: 0 !important;
  }
  .main-container .shop-products.slick-slider .item-col.first {
    clear: none;
  }
  .main-container .featured-categories .box {
    text-align: center;
  }
  .main-container .featured-categories .box:not(:last-child) {
    margin-bottom: 30px;
  }
  .main-container .featured-categories .box > .vc_column-inner > .wpb_wrapper {
    display: inline-block;
  }
  .main-container .deal-off-day.layout2 .shop-products .product-wrapper .list-col4 {
    width: 100%;
    padding: 0;
  }
  .main-container .deal-off-day.layout2 .shop-products .product-wrapper .list-col8 {
    width: 100%;
  }
  .main-container .deal-off-day.layout2 .shop-products .product-wrapper .gridview {
    text-align: center;
  }
  .main-container .deal-off-day.layout2 .shop-products .product-wrapper .product-name,
  .main-container .deal-off-day.layout2 .shop-products .product-wrapper .ratings {
    text-align: center;
  }
  .main-container .home4-categories-menu > .vc_column-inner {
    margin: 0 !important;
  }
  .newsletter-container {
    text-align: center;
  }
  .newsletter-container .mc4wp-form-fields .box-text {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .newsletter-container .mc4wp-form-fields .from-input {
    float: none;
    width: 100%;
  }
  #secondary .sidebar-border.left {
    border-right: none;
    padding-right: 0;
  }
  #secondary .sidebar-border.right {
    border-left: none;
    padding-left: 0;
  }
  .main-container.error404 .search-form-wrapper {
    padding: 80px 0;
  }
  .main-container.error404 .search-form-wrapper h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .main-container.error404 .search-form-wrapper h2 {
    font-size: 20px;
  }
  .main-container.error404 .search-form-wrapper p {
    font-size: 16px;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    width: 300px;
  }
  .main-container.error404 .search-form-wrapper a.button {
    margin-top: 40px;
  }
  .header-container .switcher .language,
  .header-container .switcher .currency {
    border: 0;
  }
  .header-container .logo {
    height: 110px;
  }
  .header-container .logo .vc_figure,
  .header-container .logo .logo-inner {
    margin: auto;
  }
  .header-container .top-bar {
    text-align: center;
  }
  .header-container .box-right,
  .header-container .right {
    text-align: center;
  }
  .header-container .header-search {
    margin: 0 0 20px;
  }
  .header-container .header-block {
    display: inline-block;
    height: auto;
    float: none;
  }
  .header-container .widget_shopping_cart {
    display: inline-block;
    float: none;
    height: unset;
  }
  .header-container .widget_shopping_cart .widget_shopping_cart_content .mini_cart_content {
    right: -85px;
  }
  .header-container .main-menu-wrapper:before,
  .header-container .main-menu-wrapper:after {
    display: none;
  }
  .header-container .header-middle {
    padding: 0 0 20px;
  }
  .header-container .header-middle .box-right {
    padding: 0;
  }
  .header-container.header-2 .header-search,
  .header-container.header-3 .header-container.header-4 .header-search {
    margin: 0 0 20px;
  }
  .home-tabs .title-container,
  .home-tabs2 .title-container,
  .home-tabs3 .title-container {
    max-width: 720px;
  }
  .newsletter-container .mc4wp-form-fields .title {
    margin: 0 0 10px;
  }
  .footer {
    text-align: center;
  }
  .footer .contact:before {
    margin: 0 auto 20px;
  }
  .footer .logo-footer {
    text-align: center !important;
  }
  .footer .f-col {
    margin-bottom: 20px;
  }
  .footer .f-col.with-border {
    padding-top: 15px;
  }
  .footer .f-col.with-border:before {
    border-left: 0;
    border-top: 1px solid #ebebeb;
    bottom: unset;
    left: 0;
    right: 0;
  }
  .footer .f-col {
    float: left;
    text-align: center;
    width: 100%;
  }
  .footer .app-our .footer-content a {
    width: auto;
    display: inline-block;
    float: none;
  }
  .footer .footer-title h3:after {
    margin: 8px auto 0;
  }
  .footer .current {
    margin: 0;
    display: inline-block;
  }
  .footer .toogle-content {
    display: none;
    margin-top: 15px;
  }
  .footer .payment {
    text-align: center !important;
    margin: 20px 0 0;
  }
  .footer .footer-bottom .copyright {
    text-align: center;
  }
  .footer .newsletter-container .box-title {
    margin-bottom: 20px;
  }
  .footer .categories-tags {
    text-align: left;
  }
  .owl-carousel .owl-controls .owl-buttons {
    display: none;
  }
  .wrapper .slick-slider button {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .front-page .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li {
    margin: 0 0 5px 0;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li.active a {
    background: none;
    color: #f1b306;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li a {
    background: none;
    padding: 4px 15px;
    margin: 0;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li a:hover {
    background: none;
    color: #f1b306;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li a:after {
    display: none;
  }
  .main-container.contact-page .contact-input span {
    width: 100% !important;
  }
  .main-container.contact-page .contact-desc .wpb_text_column {
    padding: 0;
  }
  .main-container.contact-page .contact-desc .wpb_text_column h2 {
    font-size: 40px !important;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    max-width: 95%;
  }
  .header-container {
    padding: 0 15px;
  }
  .header-container .logo {
    height: 90px;
  }
  .header-container.header-4 .header-search {
    width: 100%;
    display: block;
    margin-right: 0;
  }
  .header-container.header-4 .header-search:hover .widget_product_search #searchform #ws {
    width: 100%;
  }
  .header-container.header-4 .widget_product_search #searchform #ws {
    border: 1px solid #ebebeb;
    width: 100%;
    padding-right: 50px;
    position: static;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
  }
  .header-container.header-4 .widget_product_search #searchform #wsearchsubmit {
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .footer-top {
    padding: 5em 0;
  }
  .footer .footer-static {
    text-align: center;
  }
  .footer .footer-static .wpb_column {
    margin-bottom: 20px;
  }
  .footer .footer-static .wpb_column:last-child {
    margin-bottom: 0;
  }
  .footer .footer-static .wpb_text_column {
    min-width: 400px;
    display: inline-block;
    text-align: left;
  }
  .footer .footer-nav {
    border-bottom: none !important;
  }
  .footer .footer-nav .wpb_column .vc_column-inner {
    border-bottom: 1px solid #ebebeb;
  }
  .footer .footer-nav .wpb_column.vc_col-xs-6:nth-child(2n) .vc_column-inner {
    border-right: none !important;
  }
  .footer .footer-copyright {
    text-align: center;
  }
  .footer .footer-copyright .wpb_text_column {
    margin-bottom: 30px;
  }
  .footer .footer-copyright .wpb_single_image {
    text-align: center;
  }
  .home-tabs .title-container,
  .home-tabs2 .title-container,
  .home-tabs3 .title-container {
    padding: 0 15px;
  }
  .main-container .category-products .link-cate {
    position: static;
    margin: 10px 0;
  }
  .main-container .category-products .title-container {
    background: #fff;
  }
  .main-container .home-static1 {
    font-size: 70%;
  }
  .main-container .testimonials-container .testimonials .testimonials-text p {
    font-size: 70%;
  }
  .main-container .special-products .shop-products .product-wrapper .list-col4 {
    width: 100%;
    padding: 0;
  }
  .main-container .special-products .shop-products .product-wrapper .list-col8 {
    width: 100%;
  }
  .newsletter-container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 639px) {
  .shop_table.cart th,
  .shop_table.cart td,
  .shop_table.cart tr {
    display: block;
  }
  .shop_table.cart th,
  .shop_table.cart td {
    border: none;
  }
  .shop_table.cart tr {
    border-bottom: 1px solid #ebebeb;
  }
  .header-container .header-text-container {
    text-align: center;
    padding-bottom: 70px;
  }
  .header-container .header-nav-container .switcher,
  .header-container .header-nav-container .widget_product_search {
    float: none;
  }
  .header-container .header-nav-container .widget_product_search {
    margin-left: 0;
  }
  .main-container .testimonials-container .testimonials .quote {
    padding-left: 0;
  }
  .main-container .testimonials-container .testimonials .quote:before {
    display: none;
  }
  .main-container .home-tabs .title-container .home-tabs-title,
  .main-container .home-tabs2 .title-container .home-tabs-title {
    box-shadow: none;
    background: none;
    text-align: center;
  }
  .main-container .home-tabs .title-container .home-tabs-title li,
  .main-container .home-tabs2 .title-container .home-tabs-title li {
    margin: 0 0 5px;
  }
  .main-container .home-tabs .title-container .home-tabs-title li a,
  .main-container .home-tabs2 .title-container .home-tabs-title li a {
    padding: 0 15px;
  }
  .main-container .home-tabs .title-container .home-tabs-title li a:hover,
  .main-container .home-tabs .title-container .home-tabs-title li a.active,
  .main-container .home-tabs2 .title-container .home-tabs-title li a:hover,
  .main-container .home-tabs2 .title-container .home-tabs-title li a.active {
    background: none;
    color: #f1b306;
  }
  .main-container .home-tabs .title-container .home-tabs-title li a:after,
  .main-container .home-tabs2 .title-container .home-tabs-title li a:after {
    display: none;
  }
  .main-container .home-tabs3 .title-container .home-tabs-title li {
    margin: 0 0 5px;
  }
  .main-container .home-tabs3 .title-container .home-tabs-title li:not(:last-child) {
    border: 0;
  }
}
@media screen and (max-width: 479px) {
  [class*='vc_col'] {
    width: 100% !important;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart td,
  .shop_table.cart th {
    display: block;
  }
  .main-container .buttons-cart .button {
    margin: 15px 15px 15px 0;
  }
  .shop_content .shop-products .item-col {
    clear: none !important;
    width: 100%;
  }
  .header-container .search-categories-container {
    display: none;
  }
  .header-container .widget_product_search #searchform .form-input {
    padding-left: 0;
  }
  .main-container .product-view .single-product-image .thumbnails.slider {
    height: 100%;
  }
  .main-container .latest-posts .post-wrapper .post-thumb {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }
  .main-container .latest-posts .post-wrapper .post-info {
    width: 100%;
    padding: 0;
  }
  .footer .footer-static .wpb_text_column {
    min-width: 0;
    text-align: center;
  }
  .footer .footer-static h5 {
    margin-bottom: 10px;
  }
}
